body{
   font-family: 'Josefin Sans', sans-serif;
}

header{
   background-color: #cf8e32;
   color: white;
   height: 100vh;
   text-align: center;
   padding-top: 18%;
}


/* About ME */

.fondoAboutMe{
   background-color: #efe6d4;
   height: 100vh;
   padding-top: 10%;
}

.fondoFooter{
   background-color: #cf8e32;
   height: 50vh;
}

/* Sobre Mi */

/* Efectos MKB */

.parent {
    position: relative;
    width: 230px;
    height: 250px;
    margin: 0 auto;
}

.wrapper {
    width: 251px;
    height: 172px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 375ms, width 275ms 100ms, height 375ms;
    box-shadow: 0 0 20px transparent;
}

.wrapper.open {
   width: 363px;
   height: 386px;
   translate transition: transform 375ms, width 375ms, height 275ms 100ms;
   padding-top: 11%;
   background: #a2482b;
}

.wrapper div.content {
    position: absolute;
    margin: auto;
    left: -9999px;
    right: -9999px;
    transform-origin: top;
    width: 330px;
    transform: scale(0.62);
    height: 356px;
    border-radius: 3px;
    overflow: hidden;
    transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wrapper.open .content {
    transform: scale(1);
}

.wrapper .img {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.thumb-1 .img {
    background-image: url(../img/logoMKB.png);
    margin-top: 4%;
}

.text {
   padding-top: 20px;
   text-align: center;
   margin: 0 auto;
}

.title {
   font-size: 30px;
   font-weight: medium;
   color: #752720;
   text-align: center;
}

.subtitle {
   font-weight: 400;
   font-size: 20px;
   color: #752720;
}

/* Fin Efecto  */
.sobreMi{
   color: #cf8e32;
   font-size: 50px;
   font-weight: medium;
   text-align: center;
}

.pAbaoutMe{
   color: #752720;
   font-weight: 600;
   font-size: 16px;
   padding-top: 14%;
   padding-left: 4%;
   padding-right: 4%;
   text-align: justify;
}

.contacto{
   color: #efe6d4;
   font-size: 50px;
   font-weight: medium;
   text-align: center;
}

.imagenDeMi{
   width:  300px;
   border: 10px solid transparent;
   border-radius: 200px;
   width: 87%;
   margin: 0 auto;
}

.imagenDeMi:hover{
   width:  300px;
   border: 10px solid transparent;
   border-radius: 200px;
   width: 87%;
   margin: 0 auto;
}

.paddin{
   padding-top: 15%;
}

/* Botón */
.btnCV{
   letter-spacing: 8px;
   line-height: 32px;
   position: relative;
   background-color: #efe6d4;
   color: #cf8e32;
   font-weight: 400;
   text-decoration: none;
   font-size: 169%;
   display: inline-block;
   text-align: center; 
}

.btnCV:hover{
   border: 2px solid #752720;
   border-radius: 10px;
   text-decoration: none;
   width: 200px;
   color: #752720;
   height: 40px;
}

/* Footer */

.colorfinal{
   background-color: #752720;
   height: 5vh;
}

.autor{
   font-size: 15px;
   text-align: center;
   color: white;
   font-weight: lighter;
   padding-top: 0.5%;
}